body {
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: 'Baskervville', serif;

}

h1 {
  font-size: 90px;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #ffe8d6;
  position: relative;
  width: auto;
  padding-top: 50px;
  margin: 0;
}

.middle-container {
  background-color: #c7f0db;
  width: auto;
  height: 20%;
  margin-top: 0;
}

.profile{
  margin-left: 28%;
  margin-right: 28%;
}


.middle-container2 {
  background-color: white;
  width: auto;
}

.mypic{
  padding-top: 20px;
}

.upper-bottom-conatiner{
  background-color: white;
}

.bottom-conatiner{
  background-color: white;
}


.mypic{
  border-radius: 25%;
}


.pro {
  text-decoration: underline;
}

.cloud {
  position: absolute;
  bottom: 40%;
  left: 30%;
}

.cloud1 {
  position: absolute;
  bottom: 40%;
  right: 30%;
}

.mountain {
  position: center;
  bottom: 0px;
  margin-bottom: -0.3%;
}

.row{
  text-align: center;
}

.skill-row{
  text-align: ;
  padding-right: 20%;
  padding-left: 20%;
}


.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #899fc4 5%, #899fc4 100%);
	background-color:#899fc4;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:10px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	&:hover {
	background:linear-gradient(to bottom, #899fc4 5%, #899fc4 100%);
	background-color:#899fc4;
}
 &:active {
	position:relative;
	top:1px;
}
