body {
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: 'Baskervville', serif;
}

h1 {
  font-size: 90px;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #ffe8d6;
  position: relative;
  width: auto;
  padding-top: 50px;
  margin: 0;
}

.middle-container {
  background-color: #c7f0db;
  width: auto;
  height: 20%;
  margin-top: 0;
}

.profile {
  margin-left: 28%;
  margin-right: 28%;
}

.middle-container2 {
  background-color: white;
  width: auto;
}

.mypic {
  padding-top: 20px;
}

.upper-bottom-conatiner {
  background-color: white;
}

.bottom-container {
  background-color: #c7f0db;
  padding-bottom: 1%;
}

.mypic {
  border-radius: 25%;
}

.pro {
  text-decoration: underline;
}

.cloud {
  position: absolute;
  bottom: 40%;
  left: 30%;
}

.cloud1 {
  position: absolute;
  bottom: 40%;
  right: 30%;
}

.mountain {
  position: center;
  bottom: 0px;
  margin-bottom: -0.3%;
}

.row {
  text-align: center;
}

.skill-row {
  text-align: ;
  padding-right: 20%;
  padding-left: 20%;
}

.btn {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  margin: 0;
  font-size: 9.6px;
  line-height: 9.6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  cursor: pointer;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none;
  color: #009aa6;
  border: 1px solid #009aa6;
  padding: 13px 15px 14px 15px;
  position: relative
}

.btn:hover {
  background: #2c3e50;
}

.footer-link {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  margin: 0;
  font-size: 9.6px;
  line-height: 9.6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
  color: #009aa6;
  border: 1px solid #009aa6;
  padding: 13px 15px 14px 15px;
  position: relative
}

.footer-link:hover {
  background: #2c3e50;
}
